@media only screen and (max-width:500px){
    body{
        position: relative;
    }
    .jeju{
        width: 370px; height: 600px;
        background: url(/imgs/1x/Asset\ 10.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 40px;
        left: 5px;
    }
    .tan{
        width: 120px; height: 60px;
        background: url(/imgs/1x/Asset\ 11.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 190px;
        left: 15px;
        transform: rotate( -90deg );
    }
    .han{
        width: 100px; height: 100px;
        background: url(/imgs/1x/Asset\ 12.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 290px;
        left: 85px;
        transform: rotate( -90deg );
    }
    .dong{
        width: 100px; height: 100px;
        background: url(/imgs/1x/Asset\ 13.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 160px;
        left: 165px;
        transform: rotate( -90deg );
    }
    .mango{
        width: 120px; height: 110px;
        background: url(/imgs/1x/Asset\ 9.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 400px;
        left: 15px;
        transform: rotate( -90deg );
    }
    .seong{
        width: 70px; height: 100px;
        background: url(/imgs/1x/Asset\ 16.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 320px;
        left: 55px;
        transform: rotate( -90deg );
    }
    .sashi{
        width: 120px; height: 100px;
        background: url(/imgs/1x/Asset\ 15.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 420px;
        left: 125px;
        transform: rotate( -90deg );
    }

}